@model IEnumerable<LedgerHead>

@{
    ViewBag.Title = "Ledger Heads";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Ledger Types</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>@Html.DisplayNameFor(model => model.ParentLedgerTypeId)</th>
                <th>@Html.DisplayNameFor(model => model.ParentLedgerHeadId)</th>
                <th>@Html.DisplayNameFor(model => model.LedgerHeadName)</th>
                <th class="text-right">@Html.DisplayNameFor(model => model.AffectsGrossPnL)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ParentLedgerType().LedgerTypeName</td>
                    <td>@(item.ParentLedgerHead() == null?"":item.ParentLedgerHead().LedgerHeadName)</td>
                    <td title="@item.LedgerHeadDescription">@item.LedgerHeadName</td>
                    <td class="text-right"><span class="fa fa-toggle@(item.AffectsGrossPnL ? "-on" : "-off")"></span></td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer text-right">
        @Html.ActionLink("New Ledger Head", "Create", null, new { @class = "btn btn-sm btn-primary " })
    </div>
    <div class="panel-footer text-center">
        @Html.Partial("FooterLedger")
    </div>
</div>