@model CreateTransactionViewModel

@{
    ViewBag.Title = "Transaction Detail";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Transaction</h3>
    </div>
    @using (Html.BeginForm("Edit", "Transaction", FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.TransactionSummaryId)
            <div class="form-group">
                <label>Transaction Date(yyyy-mm-dd):</label>
                @Html.TextBox("TransactionDate", null, new { @class = "form-control" })
                @Html.ValidationMessage("TransactionDate")
            </div>
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th>Credit/Debit</th>
                    <th>Account</th>
                    <th>Amount</th>
                </tr>
                @for (int i = 0; i < Model.TransactionAccounts.Count; i++)
                {
                    
                    <tr class="credit_debit_@Model.TransactionAccounts[i].TransactionSide">
                        <td>@Html.HiddenFor(model => model.TransactionAccounts[i].TransactionAccountDetailId)
                            @Html.DropDownListFor(model => model.TransactionAccounts[i].TransactionSide, EnumHelper.GetSelectList(typeof(TransactionSide)), null, new { @class = "form-control", @onchange = "$(this).parent().parent().attr('class','');$(this).parent().parent().addClass('credit_debit_'+$(this).children('option').filter(':selected').text());" })</td>
                        <td>@Html.DropDownListFor(model => Model.TransactionAccounts[i].LedgerAccountId, ((IEnumerable<LedgerAccount>)ViewBag.LedgerAccounts).Select(x => new SelectListItem { Text = x.LedgerAccountName, Value = x.LedgerAccountId.ToString() }), null, new { @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(model => model.TransactionAccounts[i].Amount, null, new { @class = "form-control credit_debit_text" })</td>
                    </tr>
                }
                <tr>
                    <td colspan="3" class="text-right">
                        <input type="submit" value="Add" name="Add" class="btn btn-sm btn-primary" />
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <label>Narration</label>
                @Html.TextBox("TransactionNarration", null, new { @class = "form-control" })
                @Html.ValidationMessage("TransactionNarration")
            </div>
            <div class="panel-footer text-right">
                <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                @Html.ActionLink("Cancel", "Create", null, new { @class = "btn btn-sm btn-default" })
            </div>
        </div>
    }
</div>